// _modules.scss
// ==============

// Wrapper styles
.wrapper {
    height: 100%;
    width: 100%;
}

// Main styles
main {
    height: 100%;
    padding-top: 100px;
    width: 100%;
}

// Main Image styles
.main-image {
    background: url("../images/main-image.jpg") no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

// Fullscreen overlay menu
body {

    #burger {
        display: none;
    }

    input + label {
        transform: translate(-50%, -50%);
        height: 20px;
        position: absolute;
            top: 50%; left: 50%;
        width: 15px; 
        z-index: 5;

        span {
            background: #ffffff;
            display: block;
            height: 2px;
            position: absolute;
                top: 50%; left: 0;
            transition: .5s;
            width: 100%;
        }

        span:first-child {
            top: 4px; 
        }

        span:last-child {
            top: 16px; 
        }
    }

    label:hover {
        cursor: pointer;
    }

    input:checked + label {

        span {
            opacity: 0;
            top: 50%;

            &:first-child {
                opacity: 1;
                transform: rotate(405deg);
            }

            &:last-child {
                opacity: 1;
                transform: rotate(-405deg);
            }
        }
    }

    input ~ nav {
        background: #1e1e28;
        height: 100px;
        opacity: 0.9;
        overflow: hidden;
        position: fixed;
            top: 100px; left: 0;
        transition: .5s;
        transition-delay: .5s;
        width: 100%;
        z-index: 3;

        > ul {
            position: absolute;
                top: 20%; left: 20%; right: 20%;
            text-align: center;

            > li {
                opacity: 0;
                line-height: 44px;
                transition: .5s;
                transition-delay: 0s;

                > a {
                    color: #ffffff;
                    display: inline-block;
                    font-size: 25px;
                    font-weight: 800;
                    padding: 0;
                    text-decoration: none;
                    text-transform: uppercase;

                    &:hover {
                        color: #ddb509;
                    }
                }
            }
        }
    }

    input:checked ~ nav {
        height: 100%;
        transition-delay: 0s;

        > ul > li {
            opacity: 1;
            transition-delay: .5s;
        }
    } 
}

// Full background width styles
.full-background {
    height: auto;
    padding: 24px;
    width: 100%;

    &.blue {
        background: #1C224E;
    }
}

// Form styles
form {

    .form-control {
        background-color: #bebccc;
        color: #1c224e;
        font-size: 16px;
        font-weight: 700;
        min-height: 40px;
        margin-bottom: 14px;
    }

    textarea.form-control {
        min-height: 100px;
    }

    .form-group {
        margin-bottom: 0    ;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

// Google Maps API styles
#google-maps, #map {
    height: 100%;
    position: relative;
    width: 100%;
}

// Google Maps Address
address {
    background: #000000;
    border-radius: 4px;
    color: #ffffff;
    font-size: 12px;
    line-height: 20px;
    padding: 15px;
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    min-width: auto;
}